xsd/moqui-ai-screen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:include schemaLocation="http://moqui.org/xsd/xml-screen-3.xsd"/>

    <xs:element name="screen-layout" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Custom tag for Quasar q-layout.</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="view" type="xs:string" default="hHh lpR fFf"/>
        <xs:attribute name="class" type="xs:string" default="bg-grey-1"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="screen-header" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Custom tag for Quasar q-header.</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="elevated" type="boolean" default="true"/>
        <xs:attribute name="class" type="xs:string" default="bg-primary text-white"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="screen-drawer" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Custom tag for Quasar q-drawer.</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="side" default="left">
            <xs:simpleType><xs:restriction base="xs:token">
                <xs:enumeration value="left"/>
                <xs:enumeration value="right"/>
            </xs:restriction></xs:simpleType>
        </xs:attribute>
        <xs:attribute name="model" type="xs:string"><xs:annotation><xs:documentation>V-model binding.</xs:documentation></xs:annotation></xs:attribute>
        <xs:attribute name="behavior" default="default">
             <xs:simpleType><xs:restriction base="xs:token">
                <xs:enumeration value="default"/>
                <xs:enumeration value="desktop"/>
                <xs:enumeration value="mobile"/>
            </xs:restriction></xs:simpleType>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="screen-toolbar" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Custom tag for Quasar q-toolbar.</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="screen-content" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Custom tag for Quasar q-page-container and q-page. Implicitly includes subscreens-active.</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
        <xs:attribute name="class" type="xs:string" default="q-pa-md"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="menu-item" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Custom tag for a flat menu item button (typically used in toolbars).</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation><xs:documentation>Name of a subscreen to automatically resolve text, icon, and url.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="text" type="xs:string"/>
        <xs:attribute name="icon" type="xs:string"/>
        <xs:attribute name="transition" type="xs:string"/>
        <xs:attribute name="url" type="xs:string"/>
        <xs:attribute name="url-type" type="xs:string" default="transition"/>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="menu-dropdown" substitutionGroup="AllWidgets"><xs:annotation>
        <xs:documentation>Dynamic dropdown menu that fetches options from a transition.</xs:documentation>
    </xs:annotation><xs:complexType>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation><xs:documentation>Name of the subscreen to resolve base URL and text/icon if not provided.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="text" type="xs:string"/>
        <xs:attribute name="icon" type="xs:string"/>
        <xs:attribute name="transition" type="xs:string">
            <xs:annotation><xs:documentation>Transition yielding a JSON array of options.</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="pinia-store" type="xs:string">
            <xs:annotation><xs:documentation>Name of global Pinia store to bind to (e.g. useMeetingsStore).</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="pinia-list" type="xs:string">
            <xs:annotation><xs:documentation>Name of the state array within the Pinia store (e.g. activeList).</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="label-field" type="xs:string" default="label"/>
        <xs:attribute name="key-field" type="xs:string" default="id"/>
        <xs:attribute name="url-parameter" type="xs:string" use="required">
            <xs:annotation><xs:documentation>Query parameter to append to the URL (e.g. ?agendaContainerId=123).</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>



    <xs:element name="bp-tabbar" substitutionGroup="AllWidgets">
        <xs:annotation><xs:documentation>Blueprint Tab Bar navigation component. Maps to Quasar q-tabs.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="bp-tab" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="no-caps" type="xs:boolean" default="true"/>
            <xs:attribute name="align" type="xs:string" default="left"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="bp-tab">
        <xs:annotation><xs:documentation>Individual Blueprint Tab. Maps to Quasar q-route-tab for integrated Vue Routing.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="text" type="xs:string"/>
            <xs:attribute name="icon" type="xs:string"/>
            <xs:attribute name="url" type="xs:string"/>
            <xs:attribute name="url-type" type="xs:string" default="transition"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="bp-parameter" substitutionGroup="AllWidgets">
        <xs:annotation><xs:documentation>An invisible bridge that syncs a server-side parameter value to a client-side Pinia store.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation><xs:documentation>The name of the parameter from the Moqui context.</xs:documentation></xs:annotation>
            </xs:attribute>
            <xs:attribute name="value" type="xs:string" use="required">
                <xs:annotation><xs:documentation>The value to sync (usually an FTL expression like ${parameterName}).</xs:documentation></xs:annotation>
            </xs:attribute>
            <xs:attribute name="pinia-store" type="xs:string" use="required">
                <xs:annotation><xs:documentation>The global name of the Pinia store function (e.g., useMeetingsStore).</xs:documentation></xs:annotation>
            </xs:attribute>
            <xs:attribute name="pinia-field" type="xs:string" use="required">
                <xs:annotation><xs:documentation>The field name in the store state to update.</xs:documentation></xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="banner" substitutionGroup="AllWidgets"><xs:complexType>
        <xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/></xs:sequence>
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="style" type="xs:string"/>
    </xs:complexType></xs:element>

    <xs:element name="discussion-tree">
        <xs:annotation>
            <xs:documentation>
                Renders a recursive discussion tree for the Staff Huddle.
                Expects a root workEffortId (the Huddle) and renders its children (Topics) and their children (Sub-topics/Comments).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="tree-node-action">
                    <xs:annotation><xs:documentation>
                        Defines actions available on each node of the tree.
                        These are rendered as buttons or menu items on the topic row.
                    </xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="text" type="xs:string" use="required"/>
                        <xs:attribute name="icon" type="xs:string"/>
                        <xs:attribute name="type" default="button">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="button"/>
                                    <xs:enumeration value="menu-item"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="service-call" type="xs:string">
                            <xs:documentation>Service to call when action is triggered. Context includes workEffortId.</xs:documentation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            
            <xs:attribute name="work-effort-id" type="xs:string" use="required">
                <xs:documentation>The ID of the root WorkEffort (Huddle Instance).</xs:documentation>
            </xs:attribute>
            <xs:attribute name="readonly" type="xs:boolean" default="false"/>
            <xs:attribute name="encrypt-notes" type="xs:boolean" default="true">
                <xs:documentation>Enforce encryption/masking for clinical notes (HIPAA). Default true.</xs:documentation>
            </xs:attribute>
            <xs:attribute name="show-patient-context" type="xs:boolean" default="false">
                <xs:documentation>Display patient badges/info if a patient is associated with the topic.</xs:documentation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="deterministic-layout" substitutionGroup="AllWidgets">
        <xs:annotation><xs:documentation>A layout node that strictly follows deterministic rendering rules.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute name="semantic-handle" type="xs:string">
                <xs:annotation><xs:documentation>Link to a semantic definition (e.g., Mantle entity or intent).</xs:documentation></xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="semantic-handle" type="xs:string">
        <xs:annotation><xs:documentation>Global attribute for semantic mapping.</xs:documentation></xs:annotation>
    </xs:attribute>

    <xs:element name="container-row" substitutionGroup="AllWidgets">
        <xs:annotation><xs:documentation>A flex-grid row container (Quasar 'row').</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="row-col" substitutionGroup="AllWidgets">
        <xs:annotation><xs:documentation>A flex-grid column (Quasar 'col'). Supports responsive size attributes.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:group ref="widget-elements" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute name="cols" type="xs:string"/>
            <xs:attribute name="xs" type="xs:string"/>
            <xs:attribute name="sm" type="xs:string"/>
            <xs:attribute name="md" type="xs:string"/>
            <xs:attribute name="lg" type="xs:string"/>
            <xs:attribute name="xl" type="xs:string"/>
            <xs:attribute name="class" type="xs:string"/>
            <xs:attribute name="style" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="dynamic-dialog" substitutionGroup="AllWidgets">
        <xs:annotation><xs:documentation>A button that opens a dialog with content loaded dynamically from a transition.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="button-text" type="xs:string"/>
            <xs:attribute name="button-class" type="xs:string"/>
            <xs:attribute name="color" type="xs:string"/>
            <xs:attribute name="icon" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="width" type="xs:string"/>
            <xs:attribute name="transition" type="xs:string" use="required"/>
            <xs:attribute name="url-type" type="xs:string" default="transition"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
